
@font-face {font-family: 'DS-Digital';src: url('//cdn.webfont.youziku.com/webfonts/nomal/4227/32780/5a944784f629d909e4351e1d.gif?r=68060676844');src: url('//cdn.webfont.youziku.com/webfonts/nomal/4227/32780/5a944784f629d909e4351e1d.gif?r=68060676844?#iefix') format('embedded-opentype'),url('//cdn.webfont.youziku.com/webfonts/nomal/4227/32780/5a944784f629d909e4351e1d.png?r=68060676844') format('woff2'),url('//cdn.webfont.youziku.com/webfonts/nomal/4227/32780/5a944784f629d909e4351e1d.bmp?r=68060676844') format('woff'),url('//cdn.webfont.youziku.com/webfonts/nomal/4227/32780/5a944784f629d909e4351e1d.jpg?r=68060676844') format('truetype');font-weight: normal;font-style: normal;}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  90% {
    opacity: 0;
    transform: scale3d(2, 2, 2);
  }

  to {
    opacity: 0;
    z-index: 0;
  }
}

.animated-zoom-out {
  animation-name: zoomOut;
  animation-duration: 1s;
  animation-fill-mode: both;
}


.fullscreen {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  text-align: center;
  background: #000 url(//7xp4vm.com1.z0.glb.clouddn.com/section_1_bg2.jpg) center  center no-repeat;
  background-size: cover;
  color: #fff;
  z-index: 1001;
  font-family:'DS-Digital';
  cursor: pointer;
}

.fullscreen p {
  padding-top: 26px;
}

.fullscreen h1 {
  margin: 210px 0 80px 0;
  font-size: 90px;
  line-height: 100px;
  text-shadow: 4px 4px 0 #b93a65;
}

.fullscreen span:hover {
  opacity: 0.9;
  text-shadow: 4px 4px 0 #000;
}

.fullscreen button {
  background: transparent;
  outline: none;
  width: 120px;
  height: 40px;
  font-size: 20px;
  line-height: 36px;
  margin: 0 8px;
  border: 2px solid #fff;
  transition: all .5s ease-in-out;
  box-shadow: 4px 4px 0 #b93a65;
}
.fullscreen button:hover {
  background-color: #fff;
  color: #b93a65;
  box-shadow: 4px 4px 0 #000;
}
